<div class="sidebar" [class.expanded]="isExpanded">
  <div class="sidebar-header">
    <h1>Larkon</h1>
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
  </div>
  <ul>
    <li>
      <a routerLink="" routerLinkActive="active">
        <span class="menu-icon material-icons">grade</span>
        <span class="menu-text">dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="" routerLinkActive="active">
        <span class="menu-icon material-icons">grade</span>
        <span class="menu-text">product</span>
      </a>
    </li>
    <li>
      <a routerLink="" routerLinkActive="active">
        <span class="menu-icon material-icons">grade</span>
        <span class="menu-text">category</span>
      </a>
    </li>
    <li>
      <a routerLink="" routerLinkActive="active">
        <span class="menu-icon material-icons">grade</span>
        <span class="menu-text">inventory</span>
      </a>
    </li>
    <li>
      <a routerLink="" routerLinkActive="active">
        <span class="menu-icon material-icons">grade</span>
        <span class="menu-text">login</span>
      </a>
    </li>
  </ul>
</div>
